{% extends 'global/index.html'%}

{% block title %} Base {% endblock title %}

{% block content %}
<body>
    <div class="menu-lateral">
        <h2>Menu</h2>
        <ul>
            <li><a href="inserir_colaborador/">Inserir Colaborador</a></li>
            <li><a href="listar_colaboradores/">Colaboradores</a></li>
            <li><a href="inserir_epi/">Inserir EPI</a></li> 
            <li><a href="listar_epis/">Equipamentos</a></li>
            <li><a href="emprestimos/">Empréstimos</a></li>
            <li><a href="controle/">Controle</a></li>
        </ul>
    </div>
    
    <div class="usuario">
        <a href="#">
            <img src="#" alt="Foto do usuário">
        </a>
        <a href="#">
            <p>Nome do Usuário</p>
        </a>
    </div>
</body>
</html>
{% endblock content %}