{% extends 'global/index.html'%}

{% block title %} Inserir Empréstimo {% endblock title %}

{% block content %} 
<body>
    <form action="{% url 'inserir_emprestimo' %}" method="POST">
        {% csrf_token %}
        <label for="numero_emprestimo">Número de Identificação Empréstimo</label>
        <input type="number" id="numero_emprestimo" name="numero_emprestimo" required><br><br>

        <label for="numero_colaborador">Número de Identificação Colaborador:</label>
        <select name="numero_colaborador">
            {% for colaborador in colaboradores %}
                <option value="{{ colaboradores.id }}">{{ colaboradores.nome }}</option>
            {% endfor %}
        </select required><br><br>

        <label for="numero_epi">Número de Identificação Epi:</label>
        <select name="numero_epi">
            {% for epi in epis %}
                <option value="{{ epis.id }}">{{ epis.tipo }}</option>
            {% endfor %}
        </select required><br><br>

        <label for="data_emprestimo">Data do Empréstimo</label>
        <input type="date" id="data_emprestimo" name="data_emprestimo" required, disabled><br><br>

        <label for="data_prevista">Data Prevista para Devolução</label>
        <input type="date" id="data_prevista" name="data_prevista" required><br><br>

        <label for="data_devolucao">Data da Devolução</label>
        <input type="date" id="data_devolucao" name="data_devolucao" required><br><br>

        <label for="observacao">Observação</label>
        <input type="text" id="observacao" name="observacao" required><br><br>

        <button type="submit">Salvar</button>
    </form>
</body>
{% endblock content %}